.offshore-section {
    background-color: #0a0a0a;
  }
  
  .offshore-img {
    width: 593px;
    height: 487px;
    border-radius: 12px;
  }
  
  .text-light {
    color: #ccc !important;
  }
  
  @media (max-width: 992px) {
    .offshore-section .col-lg-6:first-child {
      margin-bottom: 2rem;
    }
  }